<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'auth.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login and Register Buttons</title>

</head>

<body>
  <div class="container">
    {% if not request.session.session_key %}
    <div class="buttons">
      <a href="{% url 'login_view' %}"><button class="login-button">Login</button></a>
      <a href="{% url 'register_view' %}"><button class="register-button">Register</button></a>

    </div>

    {% else %}

    <div class="buttons">
        <button class="login-button">logout</button>
    </div>

    {% endif %}
  </div>
</body>

</html>
